// custom base style
*,*::before,*::after{
box-sizing: border-box;
}
html{
    box-sizing: inherit;
}
body{
    margin: 0;
    padding: 0;
    font-family: $roboto-r;
}
ul{
    margin: 0;
    padding: 0;
    list-style-type: none;
}
a{
    text-decoration: none;
}
