.w-100{
    width: 100%;
}

// text alignment
.text-center{
    text-align: center!important;
}
.text-right{
    text-align: right!important;
}
.text-left{
    text-align: left!important;
}
.text-uppercase{
    text-transform: uppercase;
}